<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <typeAliases>
        <typeAlias type="com.motionapps.GSYSocial.dao.vo.UserVO" alias="User"/>
        <typeAlias type="com.motionapps.GSYSocial.dao.vo.FileVO" alias="File"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappers/user.xml" />
        <mapper resource="mappers/file.xml" />
    </mappers>
</configuration>