<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans.xsd
	 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		 
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">



	<context:component-scan base-package="com" />

	<!-- Instruct Spring to perform declarative transaction management automatically 
		on annotated classes. -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- =============== MyBATIS beans configuration ================== -->


	<bean id="fileDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.motionapps.GSYSocial.dao.FileDao" />
	</bean>

	<bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.motionapps.GSYSocial.dao.UserDao" />
	</bean>

	<bean id="inviteRequestDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.motionapps.GSYSocial.dao.InviteRequestDao" />
	</bean>

	<bean id="jointAccountDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.motionapps.GSYSocial.dao.JointAccountDao" />
	</bean>

	<bean id="groupAccountDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.motionapps.GSYSocial.dao.GroupAccountDao" />
	</bean>

	<bean id="followerDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.motionapps.GSYSocial.dao.FollowerDao" />
	</bean>

	<bean id="postDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.motionapps.GSYSocial.dao.PostDao" />
	</bean>

	<bean id="notificationDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.motionapps.GSYSocial.dao.NotificationDao" />
	</bean>

	<bean id="commentDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.motionapps.GSYSocial.dao.CommentDao" />
	</bean>

	<bean id="ratingDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.motionapps.GSYSocial.dao.RatingDao" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mybatisV3.xml" />
	</bean>

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean"
		scope="singleton">
		<property name="jndiName" value="java:/comp/env/jdbc/gsysocial_db" />
		<property name="resourceRef" value="true" />
	</bean>

	<bean id="userController" class="com.motionapps.GSYSocial.controller.UserController">
		<property name="userService" ref="userService" />
	</bean>

	<bean id="userService" class="com.motionapps.GSYSocial.services.UserService">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="postService" class="com.motionapps.GSYSocial.services.PostService">
		<property name="postDao" ref="postDao" />
		<property name="jointAccountService" ref="jointAccountService" />
		<property name="commentService" ref="commentService" />
		<property name="ratingService" ref="ratingService" />
	</bean>

	<bean id="postController" class="com.motionapps.GSYSocial.controller.PostController">
		<property name="postService" ref="postService" />
	</bean>

	<bean id="commentController" class="com.motionapps.GSYSocial.controller.CommentController">
		<property name="commentService" ref="commentService" />
	</bean>

	<bean id="commentService" class="com.motionapps.GSYSocial.services.CommentService">
		<property name="commentDao" ref="commentDao" />
		<property name="postService" ref="postService" />
	</bean>

	<bean id="ratingController" class="com.motionapps.GSYSocial.controller.RatingController">
		<property name="ratingService" ref="ratingService" />
	</bean>

	<bean id="ratingService" class="com.motionapps.GSYSocial.services.RatingService">
		<property name="ratingDao" ref="ratingDao" />
		<property name="postService" ref="postService" />
		<property name="notificationService" ref="notificationService" />

	</bean>

	<bean id="fileController" class="com.motionapps.GSYSocial.controller.FileController">
		<property name="fileDao" ref="fileDao" />
	</bean>

	<bean id="inviteRequestService" class="com.motionapps.GSYSocial.services.InviteRequestService">
		<property name="jointAccountService" ref="jointAccountService" />
		<property name="inviteRequestDao" ref="inviteRequestDao" />
		<property name="userService" ref="userService" />
	</bean>

	<bean id="inviteRequestController"
		class="com.motionapps.GSYSocial.controller.InviteRequestController">
		<property name="inviteRequestService" ref="inviteRequestService" />
	</bean>

	<bean id="jointAccountService" class="com.motionapps.GSYSocial.services.JointAccountService">
		<property name="jointAccountDao" ref="jointAccountDao" />
		<property name="postService" ref="postService" />
		<property name="followerService" ref="followerService" />
		<property name="userService" ref="userService" />
	</bean>

	<bean id="jointAccountController"
		class="com.motionapps.GSYSocial.controller.JointAccountController">
		<property name="jointAccountService" ref="jointAccountService" />
	</bean>
	<bean id="groupAccountController"
		class="com.motionapps.GSYSocial.controller.GroupAccountController">
		<property name="groupAccountService" ref="groupAccountService" />
	</bean>

	<bean id="groupAccountService" class="com.motionapps.GSYSocial.services.GroupAccountService">
		<property name="groupAccountDao" ref="groupAccountDao" />
	</bean>


	<bean id="followerService" class="com.motionapps.GSYSocial.services.FollowerService">
		<property name="followerDao" ref="followerDao" />
		<property name="jointAccountService" ref="jointAccountService" />
		<property name="userService" ref="userService" />
	</bean>

	<bean id="followerController" class="com.motionapps.GSYSocial.controller.FollowerController">
		<property name="followerService" ref="followerService" />
	</bean>

	<bean id="notificationService" class="com.motionapps.GSYSocial.services.NotificationService">
		<property name="notificationDao" ref="notificationDao" />
	</bean>
	<bean id="notificationController" class="com.motionapps.GSYSocial.controller.NotificationController">
		<property name="notificationService" ref="notificationService" />
	</bean>

	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/> <property 
		name="url" value="jdbc:mysql://gfysocial.c5l4tznddpos.us-west-2.rds.amazonaws.com:3306/gsysocial_db?allowMultiQueries=true"/> 
		<property name="username" value="admin"/> <property name="password" value="password"/> 
		</bean> -->
</beans>

